* {
  box-sizing: border-box;
}

@import "variables";
@import "basic";
@import "formules";

html {
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: $size;
}

body {
  margin: 0;
}


